html,
body,
#app{
    height: 100%;
    margin: 0;
    padding:0;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card{
    /* 提高CSS央视的优先级 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important
}
/* 设置表格的边框 */
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
  /* 鼠标滑过高亮显示 */
.el-table tbody tr:hover>td { background-color:rgb(235,247,255)!important } 

  /* 表格线 */
.el-table--border, .el-table--group { border-color: rgb(209, 206, 206); } 
.el-table--border:after, .el-table--group:after, .el-table:before { background-color:rgb(209, 206, 206); }                     
.el-table td, .el-table--border th,.el-table th.is-leaf { border-bottom-color: rgb(209, 206, 206);}                  
.el-table--border td, .el-table--border th { border-right-color:rgb(209, 206, 206);}
  /*  斑马纹表格背景 */
/* .el-table--striped .el-table__body tr.el-table__row--striped td { background:rgb(228, 228, 228)} */

/* 设置分页的边框 */
.el-pagination{
  margin-top: 12PX;
}
/* 设置el-tag 的边距 */
.elTagRights{
  margin: 7px;
}
/* 设置级联选择器的宽度，这样下拉框就铺满对话框了 */
.el-cascader{
  width: 100%;
}
/* 设置级联选择器的高度，这样就显示在下拉框的下面 */
.el-cascader-menu{
  height: 300px;
}
/* 解决级联选择器中的小圆圈，单选按钮 */
.el-cascader-menu .el-radio {
  display: table;
  vertical-align: middle;
  width: 90%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  margin-left:-20px;
  padding-left:10px;
}
.el-cascader-menu .el-radio .el-radio__input {
  visibility: hidden;
}
 /* 设置步骤条的字体大小 */
.el-step__title {
  font-size: 10px !important;
}
/* 设置商品内容的高度 */
.ql-editor{
  min-height: 300px;
}
